.message {
    @extend .plate;
    border-left: 5px solid $brand-info;
    padding-top: 10px;
    padding-bottom: 10px;

    .title {
        font-size: $font-size-large;
        margin-bottom: 5px;
        color: $brand-info;
    }
}

.message.message-primary {
    border-left-color: $brand-primary;
    .title {
        color: $brand-primary;
    }
}

.message.message-info {
    border-left-color: $brand-info;
    .title {
        color: $brand-info;
    }
}

.message.message-success {
    border-left-color: $brand-success;
    .title {
        color: $brand-success;
    }
}

.message.message-warning {
    border-left-color: $brand-warning;
    .title {
        color: $brand-warning;
    }
}

.message.message-danger,
.message.message-error {
    border-left-color: $brand-danger;
    .title {
        color: $brand-danger;
    }
}