@import "variables";
@import "mixins";

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

.plate {
    border-radius: 4px;
    border: 1px solid $gray-lighter;
    padding: 20px;
    margin: 10px 0 20px;
}

.greedy {
    width: 100%;
    height: 100%;
}

.diagonal-strips-bg {
    @include diagonal-strips-bg();
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 30px;
}

.btn-remove {
    color: #900;
}

.panel-heading {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.info-table {
    margin-bottom: 20px;

    .disabled {
        background: #f4f4f4;
    }

    td, th {
        padding: 5px 10px;
        border: 1px solid #ccc;
    }
}

@import "messages";
@import "form";