.personal {
    list-style: disc;
    color: $brand-primary;
    margin-bottom: 20px;
    li {
        margin-bottom: 10px;
    }
}

.commit {
    margin-bottom: 30px;
}

.info-table {
    .report-detail > td {
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;

        > table {
            width: 100%;
        }
    }

    .color-line {
        width: 40px;
        height: 4px;
        &.green {
            background-color: $brand-success;
        }
        &.yellow {
            background-color: $brand-warning;
        }
        &.blue {
            background-color: $brand-info;
        }
        &.red {
            background-color: $brand-danger;
        }
    }

    &.calendar {
        margin: 0 auto;
        td, th {
            position: relative;
            width: 50px;
            height: 50px;
            vertical-align: bottom;
            text-align: center;
            box-sizing: content-box;
        }
        .task-level {
            position: absolute;
            width: 100%;
            left: 0;
        }
        .task-level-1 {
            top: 5px;
        }
        .task-level-2 {
            top: 12px;
        }
        .task-level-3 {
            top: 19px;
        }
        .task-level-4 {
            top: 26px;
        }
    }
}

.calendar-navigation {
    position: absolute;
    top: 210px;
    font-size: 50px;
    line-height: 1;
}