main {
    min-height: 100%;
    padding-bottom: 30px;
}

.container {
    width: 970px !important;
}

header {
    background: #333;
    padding: 10px 0;
    margin-bottom: 30px;
    .menu {
        margin: 0;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 10px;
            a {
                color: #fff;
                &.active {
                    color: #c66;
                }
            }
        }
    }
}