.server-error-box {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -200px;

    .server-error-code {
        font-size: 200px;
        line-height: 1;
    }

    .server-error-message {
        font-size: 35px;
    }
}
