.getting-started {
    @extend .plate;
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 420px;
    background: $body-bg;

    .getting-started-form {
        display: none;
        &.active {
            display: block;
        }
    }

    .getting-started-form-switcher {
        display: inline-block;
        width: auto;
    }

    h2 {
        margin: 0 0 20px 0;
    }

    .getting-started-form-list {
        margin-top: -27px;
        .getting-started-form-switcher {
            display: block;
            &.active {
                display: none;
            }
        }
    }
}